body{
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cant_jugadores{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hwb(342 21% 5%);
    font-size:xx-large;
    font-weight: bold;
    min-height: 10%;
    background-color: rgb(225, 197, 211);
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 10%;
    border-radius: 5px;
}

button{
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5% 5%;
    border: none;
    width: 30%;
    height: 15%;
    background: hwb(342 21% 5%);
    color: rgb(249, 249, 249);
    border-radius: 15px;
    cursor: hover;
    font-size: 30px;
    font-weight: bold;
}  
button:hover{
    background: hwb(112 21% 10%);

}
input{
    margin-top: 2%;
}